* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Classes */

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Start Nav Bar */

.nav-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 2.8rem 0;
}

nav a {
  margin: 0 1rem;
}

nav a {
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #637fc7;
}

nav .active {
  color: #637fc7;
}

nav .btn {
  background-color: #637fc7;
  color: white;
  margin: 0.5rem;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
}

nav .btn:hover {
  color: whitesmoke;
  opacity: 1;
}

.header-mob {
  display: none;
}

/* End Nav Bar */

header {
  display: block;
}

/* Start Second Section */

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left__section h1 {
  font-size: 5.5rem;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
}

.left__section p {
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #616161;
}

.btn__1 {
  margin: 2rem 0;
  padding: 1.5rem 3.5rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #637fc7;
  border-radius: 5px;
  cursor: pointer;
}

.btn__1:hover {
  background-color: chocolate;
  color: white;
}

.btn__2 {
  margin: 2rem 0;
  margin-left: 0.5rem;
  padding: 1.5rem 3.5rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #637fc7;
  background-color: transparent;
  border-radius: 5px;
  border: 3.5px solid #637fc7;
  cursor: pointer;
}

.btn__2:hover {
  background-color: chocolate;
  color: white;
}

.right__section img {
  width: 500px;
  width: 100%;
  height: 300px;
  margin-bottom: 3rem;
}

/* End Second Section */

/* Start Three Section */

.three__section {
  background-color: #2554ed;
  width: auto;
  height: 385px;
}

.box__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.main h1 {
  font-size: 5.5rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin: 1rem 0;
}

.box__left {
  background-color: #0074ff;
  width: auto;
  height: 100%;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  cursor: pointer;
  margin-right: 1rem;
  padding: 1rem 0;
}

.box__left:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.box__left img {
  width: 100%;
  max-width: 50px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box__left h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.box__left p {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

.box__right {
  background-color: #0074ff;
  width: auto;
  height: 100%;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  cursor: pointer;
  margin-right: 1rem;
  padding: 1rem 0;
}

.box__right:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.box__right img {
  width: 100%;
  max-width: 50px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box__right h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.box__right p {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

/* End Three Section */

/* Start Hero Section */

.wrapper__2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second__section {
  height: 345px;
  background-color: #2554ed;
}

.second__section .What_We_Do {
  font-size: 5.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left__section_2 h1 {
  font-weight: 500;
}

.left__section_2 p {
  margin-bottom: 20px;
}

.left__section_2 p span {
  color: #6b717a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.right__section_2 img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 0;
}

.box {
  background-color: #0074ff;
  border-radius: 10px;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
  margin-right: 1rem;
}

.box:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.box img {
  width: 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* End Hero Section */

.box h1 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  padding-top: 1rem;
}

.box p {
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* End Box Section */

/* Start Hero Section */

.left-section h1 {
  font-size: 8.5rem;
  font-weight: 500;
}

.left-section p {
  margin-bottom: 1rem;
}

.left-section p span {
  color: #6b717a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.wraper_hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-section img {
  height: 455px;
}

/* End Hero Section */

/* Start Next Section */

.wrapper__next {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section_2 img {
  width: 100%;
  height: 365px;
}

.right-section h1 {
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.right-section p {
  margin-bottom: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #6b717a;
}

.right-section p span {
  color: #6b717a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.right-section .btn-cg {
  margin-top: 0;
}

.right-section ul li {
  list-style: none;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #6b717a;
  margin-bottom: 0.5rem;
  background-image: url(./images/bullets-check.png);
  background-position: left;
  text-align: center;
  background-repeat: no-repeat;
  padding-right: 14rem;
}

.btn-cg_next {
  margin-top: 1rem;
}

/* End Next Section */

/* Start Small Section */

.wrapper__next {
  margin-top: 2rem;
}

.left-section_3 img {
  margin-top: 2rem;
  width: 100%;
  height: 315px;
  padding-right: 5rem;
}

.right-section_3 h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
}

.right-section_3 p {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.right-section_3 .btn-cg__small-1 {
  text-align: center;
  display: inline-block;
  margin-top: 0;
  margin-left: 15px;
  margin-right: 10px;
}

/* End Small Section */

/* Start Bigg Section */

.wrapper__bigg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left__section_bigg h1 {
  margin-top: 2rem;
  line-height: 1.3;
  font-size: 4.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.left__section_bigg p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #6b717a;
}

.left__section_bigg p span {
  color: #616161;
  font-size: 1rem;
  font-weight: 600;
}

.left__section_bigg .btn-cg_bigg-1 {
  margin-top: 1rem;
}

.left__section_bigg .btn-cg_bigg-2 {
  margin-top: 1rem;
}

.right-section_bigg img {
  height: 315px;
}

/* End Bigg Section */

/* Start Wrapper Section */

.container__gen {
  display: flex;
}

.section__left {
  flex-shrink: 1;
}

.section__right img {
  width: 380px;
}

.wrapper__background {
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  z-index: -1;
}

.wrapper__background svg {
  height: 222px;
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0;
  direction: ltr;
}

.wrapper__background path {
  transform-origin: center;
}

.title__heading {
  display: inline-block;
}

.title__heading span {
  font-size: 75px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.parag__con {
  display: inline-block;
}

.parag__con p {
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #616161;
  padding-top: 5.5rem;
  line-height: 1.4;
}

.container__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.box__1 {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  padding-left: 11px !important;
  padding-right: 11px !important;
  background-color: #1e73be !important;
  border-radius: 5px !important;
}

.box__1 img {
  width: 22px;
  vertical-align: middle;
}

.box__1 h1 {
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  display: inline-block;
}

.box__1 p {
  font-size: 1.077em;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
  padding-left: 1.5rem;
}

.box__1 .img__big {
  width: 30px;
  vertical-align: middle;
}

/* End Wrapper Section */

/* Start Footer Section */

.footer {
  margin-top: 3rem;
  display: block;
  background-color: #1e73be;
  color: #ffffff;
  height: 265px;
}

.container__g {
  margin: 0 auto;
}

.container_logo img {
  align-self: end;
  vertical-align: middle;
  width: 165px;
  padding-top: 2.5rem;
}

.section__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons__left {
  row-gap: 30px;
}

.icons__left h1 {
  font-size: 1.077em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.icons__left ul li {
  list-style: none;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.icons__left li svg,
.icons__left li path {
  width: 14px;
  margin-top: 0.5rem;
  margin-bottom: 0;
  fill: currentColor;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.icons__left li svg,
.icons__left li path:hover {
  transform: translateY(-15%);
}

.icons__left li p,
.icons__left li a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 1.4;
  text-decoration: none;
}

.icons__right {
  row-gap: 30px;
}

.icons__right h1 {
  font-size: 1.077em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.icons__right ul li {
  list-style: none;
}

.icons__right li svg,
.icons__right li path {
  width: 15px;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-right: 1rem;
  fill: currentColor;
  color: white;
  transition: 0.3s;
}

.icons__right li svg,
.icons__right li path:hover {
  transform: translateY(-15%);
}

.section__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #361fc6;
  height: 55.5px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.section__bottom h1 {
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20rem;
}

.section__bottom h1 span {
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #616161;
  cursor: pointer;
}

.section__bottom h1 span:hover {
  color: white;
}

/* End Footer Section */

/* Start Services Page */

.container__generale {
  display: flex;
  justify-content: center;
}

.section__left {
  display: inline-block;
}

.section__left img {
  padding-top: 5rem;
  width: 515px;
  vertical-align: middle;
}

.section__right span {
  font-size: 1.077em;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #243e85;
  border-radius: 9999px;
  background-color: #d5dff1;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  display: inline-block;
}

/* End Services Page */

@media screen and (min-width: 300px) and (max-width: 700px) {
  /* Header */

  .header-mob {
    display: block;
  }

  header {
    display: none;
  }

  .links__mob {
    visibility: hidden;
    transition: 0.5s all;
    transform: translateY(-1000%);
  }

  .links__hidden {
    visibility: hidden;
  }

  .links__mob {
    visibility: hidden;
    transition: 0.5s all;
    transform: translateX(-100%);
  }

  .links__visible {
    visibility: visible;
    transition: 0.5s all;
    transform: translateY(15%);
    transform: translateX(0%);
  }

  .links-visible-mob {
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    position: relative;
  }

  .links-visible-mob a {
    margin: 0.5rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #616161;
    text-decoration: none;
    border-top-width: 0;
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-width: 1px;
    border-color: #eeeeee;
    border-style: solid;
  }

  .links-visible-mob a:hover {
    color: black;
  }

  .links-visible-mob img {
    width: 100%;
    max-width: 20px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
  }

  /* Second Section */

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .container__mob {
    width: auto;
    margin: 0 auto;
  }

  .left__section h1 {
    font-size: 3.5rem !important;
    margin-left: 0.5rem;
    text-align: center;
  }

  .left__section h1 span {
    font-size: 3.5rem !important;
    text-align: center;
  }

  .left__section h1 span::before {
    content: "";
    font-size: 3.5rem !important;
    text-align: center;
    animation: blink 0.7s infinite;
  }

  .left__section h1 span.stop-blinking::before {
    animation: none;
  }

  .left__section p {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .btn__1 {
    margin-left: 0;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    width: 100%;
  }

  .btn__1:hover {
    background-color: chocolate;
    color: white;
  }

  .btn__2 {
    margin-top: 0;
    margin-left: 0;
    padding: 1rem 2rem;
    width: 100%;
  }

  .btn__2:hover {
    background-color: chocolate;
    color: white;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .right__section img {
    width: 100%;
  }

  /* Three Section Mob */

  .three__section {
    background-color: #2554ed;
    width: 100%;
    height: auto;
  }

  .main h1 {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 1rem 0;
  }

  .box__container {
    height: 300px;
  }

  /* Box Section */

  .second__section {
    height: auto;
    background-color: #2554ed;
  }

  .second__section .What_We_Do {
    font-size: 3.4rem;
  }

  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .box__left {
    width: 100%;
    margin-bottom: 1rem;
  }

  .box__left img {
    width: 100%;
    max-width: 50px;
    height: auto;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .box__left h1 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .box__left p {
    font-weight: 500;
  }

  .box__right {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
  }

  .box__right img {
    width: 100%;
    max-width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .box__right h1 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-weight: 600;
  }

  .box__right p {
    margin-top: 0;
  }

  .box {
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  /* Hero Section */

  .wrapper__2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .left__section_2 h1 {
    font-weight: 500;
  }

  .wraper_hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .left-section p {
    text-align: center;
  }

  .left-section p span {
    text-align: left;
  }

  .btn-cg {
    margin-top: 0;
  }

  .right-section img {
    width: 100%;
    height: 320px;
  }

  /* Next Section */

  .left-section_2 img {
    margin-top: 3rem;
    height: 314px;
  }

  .wrapper__next {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .right-section h1 {
    font-size: 4rem;
    text-align: center;
  }

  .right-section p {
    text-align: center;
  }

  .right-section ul {
    margin-top: 1rem;
    margin-left: 1.5rem;
  }

  .right-section ul li {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  /* Small Section */

  .left-section_3 img {
    width: 100%;
    height: 325px;
    padding-right: 0;
  }

  .right-section_3 h1 {
    margin-top: 15px;
  }

  .right-section_3 .btn-cg__small-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  /* Bigg Section */

  .wrapper__bigg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .left__section_bigg h1 {
    font-size: 3.4rem;
    text-align: center;
  }

  .left__section_bigg p {
    text-align: center;
  }

  .left__section_bigg p span {
    text-align: center;
  }

  .left__section_bigg .btn-cg_bigg-1 {
    margin-top: 0;
  }

  .left__section_bigg .btn-cg_bigg-2 {
    margin-top: 0;
  }

  .right-section_bigg img {
    width: 100%;
    height: 315px;
  }

  /* Wrapper Section */

  .container__gen {
    display: block;
  }

  .box__1 {
    width: 100%;
    grid-column: 1 / -1;
  }

  .section__right {
    padding-top: 2rem;
  }

  .section__right img {
    width: 100%;
    vertical-align: middle;
  }

  .title__heading {
    display: inline-block;
    padding-top: 2.5rem !important;
  }

  .title__heading span {
    font-size: 2.7em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  .parag__con {
    display: inline-block;
    padding-top: 2.5rem !important;
  }

  .container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Start Footer Section */

  .footer {
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  .container__g {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .section__top {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 40px;
  }

  .container_logo img {
    width: 165px;
    vertical-align: middle;
  }

  .icons__left {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 17px;
  }

  .icons__right {
    padding: 25px;
    padding-top: 0;
  }

  .section__bottom h1 {
    padding-left: 1rem !important;
    border-radius: 0;
  }

  /* End Footer Section */

  /* Start Services Page */

  /* End Services Page */
}
