* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Start Nav Bar */

.nav-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 2.8rem 0;
}

nav a {
  margin: 0 1rem;
}

nav a {
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #637fc7;
}

nav .active {
  color: #637fc7;
}

nav .btn {
  background-color: #637fc7;
  color: white;
  margin: 0.5rem;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
}

nav .btn:hover {
  color: whitesmoke;
  opacity: 1;
}

.header-mob {
  display: none;
}

/* End Nav Bar */

/* Start Second Section */

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left__section h1 {
  font-size: 5.5rem;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
}

.left__section p {
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #616161;
}

.btn__1 {
  margin: 2rem 0;
  padding: 1.5rem 3.5rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #637fc7;
  border-radius: 5px;
  cursor: pointer;
}

.btn__1:hover {
  background-color: chocolate;
  color: white;
}

.btn__2 {
  margin: 2rem 0;
  margin-left: 0.5rem;
  padding: 1.5rem 3.5rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #637fc7;
  background-color: transparent;
  border-radius: 5px;
  border: 3.5px solid #637fc7;
  cursor: pointer;
}

.btn__2:hover {
  background-color: chocolate;
  color: white;
}

.right__section img {
  width: 500px;
  margin-bottom: 3rem;
}

/* End Second Section */

/* Start Three Section */

.three__section {
  background-color: #2554ed;
  width: auto;
  height: 385px;
}

.box__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.main h1 {
  font-size: 5.5rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin: 1rem 0;
}

.box__left {
  background-color: #0074ff;
  width: auto;
  height: 100%;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  cursor: pointer;
  margin-right: 1rem;
  padding: 1rem 0;
}

.box__left:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.box__left img {
  width: 100%;
  max-width: 50px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box__left h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.box__left p {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

.box__right {
  background-color: #0074ff;
  width: auto;
  height: 100%;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  cursor: pointer;
  margin-right: 1rem;
  padding: 1rem 0;
}

.box__right:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.box__right img {
  width: 100%;
  max-width: 50px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box__right h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.box__right p {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

/* End Three Section */

/* Start Hero Section */

.wrapper__2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left__section_2 h1 {
  font-weight: 500;
}

.left__section_2 p {
  margin-bottom: 20px;
}

.left__section_2 p span {
  color: #6b717a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.right__section_2 img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

/* End Hero Section */
@media screen and (min-width: 300px) and (max-width: 700px) {
  /* Header */
  .header-mob {
    display: block;
  }

  header {
    display: none;
  }

  .links-mob {
    visibility: hidden;
  }

  .links-visible-mob {
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    position: relative;
  }

  .links-visible-mob a {
    margin: 0.5rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #616161;
    text-decoration: none;
    border-top-width: 0;
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-width: 1px;
    border-color: #eeeeee;
    border-style: solid;
  }

  .links-visible-mob a:hover {
    color: black;
  }

  .links-visible-mob img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }

  /* Second Section */

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 0;
  }

  .container__mob {
    width: auto;
    margin: 0 auto;
  }

  .left__section h1 {
    font-size: 3.5rem !important;
    margin-top: 14rem;
    margin-left: 0.5rem;
    text-align: center;
  }

  .left__section h1 span {
    font-size: 3.5rem !important;
    text-align: center;
  }

  .left__section h1 span::before {
    content: "";
    font-size: 3.5rem !important;
    text-align: center;
    animation: blink 0.7s infinite;
  }

  .left__section h1 span.stop-blinking::before {
    animation: none;
  }

  .left__section p {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .btn__1 {
    margin-left: 0;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    width: 100%;
  }

  .btn__1:hover {
    background-color: chocolate;
    color: white;
  }

  .btn__2 {
    margin-top: 0;
    margin-left: 0;
    padding: 1rem 2rem;
    width: 100%;
  }

  .btn__2:hover {
    background-color: chocolate;
    color: white;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .right__section img {
    width: 100%;
  }

  /* Three Section Mob */

  .three__section {
    background-color: #2554ed;
    background-position: center;
    width: 100%;
    height: auto;
  }

  .main h1 {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 1rem 0;
  }

  .box__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1rem;
  }

  .box__left {
    width: 100%;
    margin-bottom: 1rem;
  }

  .box__left img {
    width: 100%;
    max-width: 50px;
    height: auto;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .box__left h1 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .box__left p {
    font-weight: 500;
  }

  .box__right {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
  }

  .box__right img {
    width: 100%;
    max-width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .box__right h1 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-weight: 600;
  }

  .box__right p {
    margin-top: 0;
  }

  /* Hero Section */

  .wrapper__2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left__section_2 h1 {
    font-weight: 500;
  }
}
