* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Start Nav Bar */

.nav-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 2.8rem 0;
}

nav a {
  margin: 0 1rem;
}

nav a {
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #637fc7;
}

nav .active {
  color: #637fc7;
}

nav .btn {
  background-color: #637fc7;
  color: white;
  margin: 0.5rem;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
}

nav .btn:hover {
  color: whitesmoke;
  opacity: 1;
}

.header-mob {
  display: none;
}

/* End Nav Bar */

/* Start Second Section */

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left h1 {
  font-size: 7.5rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.left p {
  font-size: 1rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #616161;
}

.btn__1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkblue;
  color: white;
  padding: 22px 40.5px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 10.5%;
}

.btn__1:hover {
  background-color: chocolate;
  color: white;
}

.btn__2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: darkblue;
  padding: 20px 35.5px;
  border-radius: 5px;
  border: 5px solid darkblue;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 26.5%;
}

.btn__2:hover {
  background-color: chocolate;
  color: white;
}

.left h1 {
  font-size: 4.5rem;
}

.left p {
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 17rem;
  left: 10rem;
  line-height: 1.2;
  color: #616161;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right img {
  width: 455px;
  position: absolute;
  top: 6.5rem;
}

/* End Second Section */

/* Start Three Section */

.three__section {
  background-color: #2554ed;
  width: 100%;
  height: 58vh;
  border-radius: 5px;
  position: absolute;
  top: 32rem;
  left: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.box__left {
  background-color: #0074ff;
  width: 335px;
  height: 210px;
  position: absolute;
  top: 30%;
  left: 10%;
  border-radius: 5px;
}

.box__left img {
  width: 50px;
  height: 50px;
  position: relative;
  top: 1.5rem;
  left: 43.5%;
}

.box__left h1 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  top: 2.8rem;
  left: 1%;
}

.box__left p {
  font-size: 1rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: beige;
  position: relative;
  top: 3.5rem;
}

/* End Three Section */

@media (max-width: 300px) {
  /* Header */
  .header-mob {
    display: block;
  }

  header {
    display: none;
  }

  .header-mob img {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .links-mob {
    visibility: hidden;
  }

  .links-visible-mob {
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    position: relative;
  }

  .links-visible-mob a {
    margin: 0.5rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #616161;
    text-decoration: none;
    border-top-width: 0;
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-width: 1px;
    border-color: #eeeeee;
    border-style: solid;
  }

  .links-visible-mob a:hover {
    color: black;
  }

  .links-visible-mob img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }

  /* Second Section */

  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: absolute;
    top: 12rem;
    bottom: 0;
    left: 0.5rem;
  }

  .left h1 span {
    font-size: 3rem;
  }

  .left h1 span::before {
    content: "";
    font-size: 3rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: absolute;
    top: 12rem;
    bottom: 0;
    left: 0.5rem;
    animation: blink 0.7s infinite;
  }

  .left h1 span.stop-blinking::before {
    animation: none;
  }

  .left p {
    position: absolute;
    left: 0.5rem;
    right: 0;
  }

  .btn__1 {
    position: absolute;
    top: 64%;
    left: 10%;
  }

  .btn__2 {
    position: absolute;
    top: 75.5%;
    left: 10%;
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .right img {
    width: 235px;
    position: absolute;
    top: 40rem;
    left: 1rem;
  }

  /* Three Section */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
